html {
    -webkit-text-size-adjust: 100%;
    /* TODO: tooltip overflows the screen. 
    This prevents overflow to produce scrollbars. */ 
    overflow: hidden;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    /* display: flex;
    flex-direction: column; */
}

.menu_button {
    position: fixed; 
    top: 0.8em; 
    left: 1em;
    z-index: 3;
    width: 5vw; /* Let's make it easier to click */ 
    height: 5vw;
}

.menu_button > img, .close_button > img {
    width: calc(2em + 1vw);
}

.close_button > img {
    position: absolute;
    right: 0;
    top: 0;
}

.menu_button:hover > img, .close_button:hover > img{
    animation: bounce 1s linear;
    -webkit-animation: bounce 1s linear;
}

@keyframes bounce {
    10% { transform: scale(1.8); }
    20% { transform: scale(1.3); }
    100% { transform: scale(1.3); }
}



.close_button {
    position: fixed; 
    top: 0.8em; 
    right: 1em;
    opacity: 0;
    transition: opacity 1s linear;
    z-index: 3;
    width: 5vw; /* Let's make it easier to click */ 
    height: 5vw;
}


.menu {
    position: absolute;
    backdrop-filter: blur(.4em);
    -webkit-backdrop-filter: blur(.4em); /* safari */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;

    font-size: calc(1.8em + 1vw);
    /* font-size: 1.5em; */
}
 
.menu label {
    display:inline-block;
    margin-bottom: 0.2em;
}

.fade_out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 1s, opacity 1s;
}
.fade_in {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 1s;
}


#rolling-average-selector {
    width: 3em;
    text-align: center;
}

#auto-reset-time-selector {
    width: 3em;
    text-align: center;
}


.menu > button, input {
    font-size: 1em;
    background-color: transparent;
    border-radius: 0.3em;
    border-width: 0.05em;
    border-style: solid;
    border-color: white;
    color: white;
}

.menu > button:hover {
    background: #0000001c;
    background: #ffffffa6;
}


#container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#counter {
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 10em; */
    font-size: calc(6rem + 3vw);
}

.counter-color {
    color: white;
}

.counter-animated-taps {
    animation: blink 0.1s linear;
}

@keyframes blink {
    0% { transform: scale(1);}
    50% { transform: scale(1.05);}
    100% { transform: scale(1);}
}

.counter-timeout-fadeout {
    animation: fade 1s linear;
    color: rgba(255, 255, 255, 0.521);
}

@keyframes fade {
    from {color: white;}
}

#counter-message {
    display: flex;
    gap: 0.4em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: visible;
    position: absolute;
    text-align: center;
    /* font-size: 3em; */
    font-size: calc(2rem + 3vw);
}


.tooltip {
    position: relative;
    display: inline-block;
    text-align: center;

}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 15em;
    background-color:  #0000001c;
    background-color: #ffffff46;
    color: #fff;
    text-align: left;
    padding: 0.5em 0.5em;
    border-radius: 0.3em;
    border-color: rgb(224, 224, 224);
    border-width: 1px;
    border-style: solid;
    backdrop-filter: blur(6px); 

    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 2em;
    left: 2em;
    z-index: 1;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    backdrop-filter: blur(6px); 
    -webkit-backdrop-filter: blur(6px); 
}

@media (orientation: portrait) {
    #counter-message {
        flex-direction: column;
        gap: 0.4em;
    }
}

@media (orientation: landscape) {
    #counter-message > img {
        margin-left: -0.3em; /* Kerning... */
    }
}